@page "/addFigure/{serie}"

@using MiniFigures.Data
@using MiniFigures.Models
@using System.IO
@using Microsoft.AspNetCore.Hosting

@inject IWebHostEnvironment env
@inject IMiniFigureService MiniFigureService
@inject ISeriesService SeriesService
@inject NavigationManager NavigationManager

    <style>
        .addCard {
            text-align: center;
            width: 26rem;
            height: 16em;
            border: solid 0.6rem;
            border-radius: 1rem;
            margin: 10rem auto 0 auto;
            padding: 0.5rem 0.6rem 0.5rem 0.6rem;
            background-color: white;
        }
        .txtCenter {
            text-align: center;
        }
        .formAddFigure{
            padding-top: 1rem; 
        }
        label{
            margin-bottom:0rem;
            margin-top:0.5rem;
        }
        .btnRow {
            margin-top: 2rem;
            text-align: center;
        }
    </style>

<div class="addCard" style="border-color:@color">
    @*<div class="txtLeftBold" style="color:@serie.SeriesColor">@figure.Number</div>*@
    <EditForm Model="@miniFigure" class="formAddFigure">
        <label>
            Number?
        </label>
        <br />

        <input type="text" @bind-value="@miniFigure.Number" class="txtCenter" />
        <br />
        <label>
            Name?
        </label>
        <br />
        <input type="text" @bind-value="@miniFigure.Name" class="txtCenter" />
    </EditForm>
    

    @*<div class="btnRow" style="margin:auto">
        </div>*@
    <div>
        <input type="button" class="btn btn-outline-success btnRow" value="Save" @onclick="@Add" />
    </div>
</div>

@code {

    [Parameter] public string serie { get; set; }
    [Parameter] public string number { get; set; }
    [Parameter] public string color { get; set; }

    public int Number { get; set; }
    public int Name { get; set; }

    private MiniFigure miniFigure = new MiniFigure();

    private string Color { get; set; } = "lightgrey";

    private async Task Add()
    {
        await MiniFigureService.AddFigure(miniFigure, serie, number );
        NavigationManager.NavigateTo($"/{serie}", true);
    }
}