@page "/addnew/figures/{serie}"

@using MiniFigures.Data
@using MiniFigures.Models

@inject IMiniFigureService MiniFigureService
@inject ISeriesService SeriesService
@inject NavigationManager NavigationManager

<h3 style="text-align:center">Add Figure</h3>
<div>
    <div style="text-align:center">
        <div class="card-body" style="margin: auto; background-color: @Color; max-width: 265px; height: 390px; padding:15px; margin:5px auto 5px auto; border-radius:15px">
            <div class="card-body" style="background-color:white; width: 100%; height: 100%; border-radius: 10px; padding-top:10%">
                <div>
                    <select style="width:80%; height:2rem" @onchange="@SerieClicked">
                        <option value="@collectionName">@collectionName</option>
                        @foreach (var serie in SerieList)
                        {
                            <option value="@serie.Name">@serie.Name</option>
                        }
                    </select>
                </div>
                <div style="margin:10px">
                    <div>
                        <label for="Number">Number: </label>
                    </div>
                    <div>
                        <input form="Number" style="text-align:center" @bind="@miniFigure.Number" />
                    </div>
                </div>
                <div style="margin:10px">
                    <div>
                        <label for="Name">Name: </label>
                    </div>
                    <div>
                        <input form="Name" style="text-align:center" @bind="@miniFigure.Name" />
                    </div>
                </div>
                <div style="margin:10px">
                    <div>
                        <label for="ImgURL">Image URL: </label>
                    </div>
                    <div>
                        <input form="ImgURL" style="text-align:center" @bind="@miniFigure.ImgURL" />
                    </div>
                </div>
                <div><input type="button" @onclick="@AddNewFigure" value="Save" /></div>
                <br />
                <div style="display:@ShowWarningNumber; color:red">
                    Minifigure with Number: @miniFigure.Number <br />already exists!
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string serie { get; set; }
    MiniFigure miniFigure = new MiniFigure();
    Series series = new Series();
    string collectionName;
    public string Color { get; set; } = "lightgrey";
    List<Series> SerieList = new List<Series>();
    List<MiniFigure> MF = new List<MiniFigure>();
    public bool Existing { get; set; }
    public string ShowWarningNumber { get; set; } = "none";

    protected override async Task OnInitializedAsync()
    {
        series = await SeriesService.GetOneSerie(serie);
        Color = series.SeriesColor;
        collectionName = serie;
        SerieList = await SeriesService.GetSeries();
        MF = MiniFigureService.GetMiniFigures(collectionName);
    }

    protected async Task AddNewFigure()
    {
        isExist();
        if (Existing)
        {
            ShowWarningNumber = "inline";
        }
        else
        {
            miniFigure.CountOpened = 0;
            miniFigure.CountSealed = 0;
            miniFigure.Displayed = false;

            await MiniFigureService.AddFigure(miniFigure, collectionName);
            NavigationManager.NavigateTo($"/{collectionName}", true);
        }
    }
    protected void SerieClicked(ChangeEventArgs args)
    {
        collectionName = (string)args.Value;
    }
    void isExist()
    {
        foreach (var figure in MF)
        {
            if (figure.Number == miniFigure.Number)
            {
                Existing = true;
                break;
            }
        }
    }
}
