@page "/addnew/figures/{serie}"

@using MiniFigures.Data
@using MiniFigures.Models

@inject IMiniFigureService MiniFigureService
@inject ISeriesService SeriesService
@inject NavigationManager NavigationManager


<link href="/css/Serie.css" rel="stylesheet" />
<h3>Add Figure</h3>
<div class="card-deck">
    <div class="addCard" style="border-color:@Color">

        @if (ListOfMF.Count == series.NumberOfFigures)
        {
            <h4 style="margin-top:8rem">No more<br /> figures to add</h4>
            <div class="txtCenter">
                <input type="button" value="OK" @onclick="cancel" />
            </div>
        }
        else
        {
            <div class="topMargin2">Figures To add: @(series.NumberOfFigures - ListOfMF.Count) </div>
            <select @onchange="@SerieClicked">
                <option value="@serie">@series.DisplayName</option>
                @foreach (var serie in SeriesList)
                {
                    <option value="@serie.Name">@serie.DisplayName</option>
                }
            </select>
            <label for="Number">Number: </label>
            <input tabindex="1" form="Number" class="txtCenter" @onchange="checkNumber" />
            <label for="Name">Name: </label>
            <input tabindex="2" form="Name" class="txtCenter" @bind="@OneMF.Name" />
            <div class="marginBig">
                <input class="btn btn-outline-dark" type="button" @onclick="cancel" value="Cancel" />
                <input class="btn btn-outline-success" tabindex="3" type="button" @onclick="@AddNewFigure" value="Save" />
            </div>
        }
    </div>
</div>
<div style="display:@ShowWarningForNumber; color:red">
    <h4>Minifigure with Number: @OneMF.Number <br />already exists!</h4>
</div>
@code {
    [Parameter]
    public string serie { get; set; }

    protected MiniFigure OneMF = new MiniFigure();
    protected Series series = new Series();

    protected List<Series> SeriesList = new List<Series>();
    protected List<MiniFigure> ListOfMF = new List<MiniFigure>();

    protected bool canSave { get; set; }
    protected bool Existing { get; set; }

    protected int? currentNumber { get; set; }

    protected string Color { get; set; } = "lightgrey";
    protected string FigureNumber { get; set; }
    protected string ShowWarningForNumber { get; set; } = "none";

    protected override async Task OnInitializedAsync()
    {
        series = await SeriesService.GetOneSerie(serie);
        Color = series.SeriesColor;
        SeriesList = await SeriesService.GetSeries(1);
        ListOfMF = MiniFigureService.GetMiniFigures(serie);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        series = await SeriesService.GetOneSerie(serie);
        //Color = series.SeriesColor;
        //SeriesList = await SeriesService.GetSeries();
        ListOfMF = MiniFigureService.GetMiniFigures(serie);

        StateHasChanged();
    }

    protected async Task AddNewFigure()
    {
        if (canSave)
        {
            FigureNumber = OneMF.Number.ToString();
            if (FigureNumber.Length > 1)
            {
                OneMF.Image = $"{series.Number}-{FigureNumber}.jpg";
            }
            else
            {
                OneMF.Image = $"{series.Number}-0{FigureNumber}.jpg";
            }
            OneMF.CountOpened = 0;
            OneMF.CountSealed = 0;
            OneMF.Displayed = false;

            await MiniFigureService.AddFigure(OneMF, serie);
            if (ListOfMF.Count != series.NumberOfFigures)
            {
                NavigationManager.NavigateTo($"/{serie}", true);
            }


        }
    }
    protected void SerieClicked(ChangeEventArgs args)
    {
        serie = (string)args.Value;
    }
    protected void isExist(int? number)
    {
        foreach (var figure in ListOfMF)
        {
            if (number == figure.Number)
            {
                Existing = true;
                break;
            }
            else
            {
                Existing = false;
            }
        }
    }
    protected void checkNumber(ChangeEventArgs args)
    {
        if (args != null)
        {
            currentNumber = Convert.ToInt32(args.Value);
            isExist(currentNumber);

            if (Existing || currentNumber == 0)
            {
                ShowWarningForNumber = "inline";
                Existing = false;
            }
            else
            {
                ShowWarningForNumber = "none";
                OneMF.Number = Convert.ToInt32(args.Value);
                currentNumber = null;
                canSave = true;
            }
        }
    }
    protected void cancel()
    {
        NavigationManager.NavigateTo($"/{serie}", true);
    }
}