@page "/addnew/figures/{serie}"

@using MiniFigures.Data
@using MiniFigures.Models

@inject IMiniFigureService MiniFigureService
@inject ISeriesService SeriesService
@inject NavigationManager NavigationManager
@if (MF.Count == series.NumberOfFigures)
{
    <h3>No more figures to add</h3>
}
else
{
<h3 style="text-align:center">Add Figure</h3>
<div>
    <div style="text-align:center">
        <div class="card-body" style="margin: auto; background-color: @Color; max-width: 265px; height: 390px; padding:15px; margin:5px auto 5px auto; border-radius:15px">
            <div class="card-body" style="background-color:white; width: 100%; height: 100%; border-radius: 10px; padding-top:10%">
                <div>Figures To add: @(series.NumberOfFigures - MF.Count) </div>
                <br />
                <div>
                    <select style="width:80%; height:2rem" @onchange="@SerieClicked">
                        <option value="@collectionName">@collectionName</option>
                        @foreach (var serie in SerieList)
                        {
                            <option value="@serie.Name">@serie.Name</option>
                        }
                    </select>
                </div>
                <div style="margin:10px">
                    <div>
                        <label for="Number">Number: </label>
                    </div>
                    <div>
                        <input tabindex="1" form="Number" style="text-align:center" @onchange="isExist" />
                    </div>
                </div>
                <div style="margin:10px">
                    <div>
                        <label for="Name">Name: </label>
                    </div>
                    <div>
                        <input tabindex="2" form="Name" autocomplete="off" style="text-align:center" @bind="@miniFigure.Name" />
                    </div>
                </div>

                <div><input tabindex="3" type="button" @onclick="@AddNewFigure" value="Save" /></div>
                <br />
                <input type="button" @onclick="cancel" value="Cancel" />
                <br />
                <div style="display:@ShowWarningForNumber; color:red">
                    Minifigure with Number: @miniFigure.Number <br />already exists!
                </div>
            </div>
        </div>
    </div>
</div>
}
@code {
    [Parameter]
    public string serie { get; set; }
    MiniFigure miniFigure = new MiniFigure();
    Series series = new Series();
    string collectionName;
    public string Color { get; set; } = "lightgrey";
    List<Series> SerieList = new List<Series>();
    List<MiniFigure> MF = new List<MiniFigure>();
    public bool Existing { get; set; }
    public string Pic { get; set; }
    public string ShowWarningForNumber { get; set; } = "none";

    protected override async Task OnInitializedAsync()
    {
        series = await SeriesService.GetOneSerie(serie);
        Color = series.SeriesColor;
        collectionName = serie;
        SerieList = await SeriesService.GetSeries();
        MF = MiniFigureService.GetMiniFigures(collectionName);
    }
    protected async Task AddNewFigure()
    {
        if (Existing)
        {
            ShowWarningForNumber = "inline";
        }
        else
        {
            Pic = miniFigure.Number.ToString();
            if (Pic.Length > 1)
            {
                miniFigure.Image = $"{series.Number}-{Pic}.jpg";
            }
            else
            {
                miniFigure.Image = $"{series.Number}-0{Pic}.jpg";
            }
            miniFigure.CountOpened = 0;
            miniFigure.CountSealed = 0;
            miniFigure.Displayed = false;

            await MiniFigureService.AddFigure(miniFigure, collectionName);
            //NavigationManager.NavigateTo($"/{collectionName}", true);
            NavigationManager.NavigateTo($"/addnew/figures/{serie}", true);
        }
    }
    protected void SerieClicked(ChangeEventArgs args)
    {
        collectionName = (string)args.Value;
    }
    void isExist(ChangeEventArgs args)
    {
        foreach (var figure in MF)
        {
            if (figure.Number == Convert.ToInt32(args.Value))
            {
                Existing = true;
                break;
            }
        }
        miniFigure.Number = Convert.ToInt32(args.Value);
    }
    void cancel()
    {
        NavigationManager.NavigateTo($"/{collectionName}");
    }
}
