@*@page "/{serieToShow}/{number:int}"*@
@using MiniFigures.Data
@using MiniFigures.Models
@inject NavigationManager NavigationManager
@inject IMiniFigureService MiniFigureService
@inject ISeriesService SeriesService

@if (serie == null)
{
    <h2>Loading......</h2>
}
else
{
    <div>

        <i class="fas fa-times fa-2x closeBtn" @onclick="close" />
        <table>
            <tr>
                <td class="txtRight" style="color:@serie.SeriesColor">
                    @if (OneMF.Number <= 1 || (edit))
                    {
                        <a class="fas fa-chevron-left fa-5x" style="opacity:0.3" />
                    }
                    else
                    {
                        <a class="fas fa-chevron-left fa-5x" @onclick="() => goTo(OneMF.Number - 1)" />
                    }
                </td>
                <td>
                    <div class="card" style="border-color:@serie.SeriesColor">
                        @if (!edit)
                        {
                            <ShowOne OneMF="@OneMF" serie="@serie" />
                            <div>
                                <input type="button" class="btn btn-outline-dark editBtn" value="Edit" @onclick="editfigure" />
                            </div>
                        }
                        else
                        {
                            <EditOne OneFigure="@OneMF" serie="@serie" />
                        }
                    </div>
                </td>
                <td class="txtLeft" style="color: @serie.SeriesColor">
                    @if (OneMF.Number == ListOfMF.Count || (edit))
                    {
                        <a class="fas fa-chevron-right fa-5x" style="opacity:0.3" />
                    }
                    else
                    {
                        <a class="fas fa-chevron-right fa-5x" @onclick="() => goTo(OneMF.Number + 1)" />
                    }
                </td>
            </tr>
        </table>
    </div>
}
@code {
    [Parameter]
    public int number { get; set; }
    [Parameter]
    public string serieToShow { get; set; }

    protected Series serie { get; set; }
    protected MiniFigure OneMF = new MiniFigure();

    List<MiniFigure> ListOfMF = new List<MiniFigure>();

    public bool edit { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        serie = await SeriesService.GetOneSerie(serieToShow);
        ListOfMF = MiniFigureService.GetMiniFigures(serieToShow);
    }
    protected override async Task OnParametersSetAsync()
    {
        OneMF = await MiniFigureService.GetOneMiniFigure(serieToShow, number);
    }
    public void editfigure()
    {
        edit = true;
    }
    void goTo(int i)
    {
        NavigationManager.NavigateTo($"/{serieToShow}/{i}");
        this.StateHasChanged();
    }
    void close()
    {
        NavigationManager.NavigateTo($"/{serieToShow}");
    }
    public void back()
    {
        ShouldRender();
    }
}