@page "/{SerieToShow}/{Number:int}"

@using MiniFigures.Data
@using MiniFigures.Models

@inject IMiniFigureService MiniFigureService
@inject ISeriesService SeriesService
@inject NavigationManager NavigationManager

@if (Serie == null)
{
    <Loading />
}
else
{
    <table>
        <tr>
            <td style="color:@Serie.SeriesColor">
                @if (OneMiniFigures.Number <= 1 || (Edit))
                {
                    <a class="fas fa-chevron-left fa-5x" style="opacity:0.3" />
                }
                else
                {
                    <a class="fas fa-chevron-left fa-5x" @onclick="() => goTo(OneMiniFigures.Number - 1)" />
                }
            </td>
            <td>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <ShowOne OneMiniFigure="@OneMiniFigures" Serie="@Serie" />
                        </div>
                        <div class="flip-card-back">
                            <EditOne OneMiniFigure="@OneMiniFigures" Serie="@Serie" />
                        </div>
                    </div>
                </div>
            </td>
            <td style="color: @Serie.SeriesColor">
                @if (OneMiniFigures.Number == ListOfMiniFigures.Count || (Edit))
                {
                    <a class="fas fa-chevron-right fa-5x" style="opacity:0.3" />
                }
                else
                {
                    <a class="fas fa-chevron-right fa-5x" @onclick="() => goTo(OneMiniFigures.Number + 1)" />
                }
            </td>
        </tr>
    </table>
}
@code {
    [Parameter] public int Number { get; set; }
    [Parameter] public string SerieToShow { get; set; }

    private List<MiniFigure> ListOfMiniFigures = new List<MiniFigure>();

    private ShowSerie showSerie = new ShowSerie();

    private MiniFigure OneMiniFigures = new MiniFigure();
    private Series Serie { get; set; }

    private bool Edit { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        Serie = await SeriesService.GetOneSerie(SerieToShow);
        ListOfMiniFigures = MiniFigureService.GetMiniFigures(SerieToShow);
    }

    protected override async Task OnParametersSetAsync() => OneMiniFigures = await MiniFigureService.GetOneMiniFigure(SerieToShow, Number);

    private void editfigure() => Edit = true;

    private async Task goTo(int i)
    {
        Number = i;
        OneMiniFigures = await MiniFigureService.GetOneMiniFigure(SerieToShow, Number);
        this.StateHasChanged();
    }

    private void close()
    {
        showSerie.HideCard();
        NavigationManager.NavigateTo($"/{SerieToShow}", true);
    }
}