@using MiniFigures.Data
@using MiniFigures.Models
@inject NavigationManager NavigationManager
@inject IMiniFigureService MiniFigureService
@inject ISeriesService SeriesService

<link rel="stylesheet" href="css/EditOne.css" />

<div>
    <h3 style="color:@serie.SeriesColor">@serie.DisplayName</h3>
    <table class="cardTable">
        <tr>
            <td class="label">Name:</td>
            <td>
                <input for="Name" class="form-control txtCenter" @bind="@OneFigure.Name" />
            </td>
        </tr>
        <tr>
            <td class="label">Number:</td>
            <td><input for="Number" class="form-control txtCenter" style="margin-left:auto ;margin-right:auto; widt" placeholder="@OneFigure.Number" /></td>
        </tr>
        <tr>
            <td class="label">In display:</td>
            <td>
                <input class="display" type="button" style="@isTrue" @onclick="changeTrueFalse" value="Yes" />
                <input class="display" type="button" style="@isFalse" @onclick=" changeTrueFalse" value="No" />
            </td>
        </tr>
        <tr>
            <td class="label">Ownd openend:</td>
            <td>
                <a class="fas fa-minus-square" @onclick="DecrementOpen" style="color:@serie.SeriesColor; margin-right:1rem" />

                @OneFigure.CountOpened
                <a class="fas fa-plus-square" @onclick="IncrementOpen" style="color:@serie.SeriesColor; margin-left:1rem"/>
            </td>
        </tr>
        <tr>
            <td class="label">Ownd sealed:</td>
            <td>
                <a class="fas fa-minus-square" @onclick="DecrementSealed" style="color:@serie.SeriesColor; margin-right:1rem" />
                @OneFigure.CountSealed
                <a class="fas fa-plus-square" @onclick="IncrementSealed" style="color:@serie.SeriesColor; margin-left:1rem" />
            </td>
        </tr>
        <tr>
            <td class="label">Image:</td>
            <td>
                <input for="Name" class="form-control infotable txtCenter" @bind="@OneFigure.Image" />
            </td>
        </tr>
        <tr>
            <td colspan="2"  class="smallImage">
                <img src="/images/@serie.Name/@OneFigure.Image" alt="Picture of @OneFigure.Name" />

            </td>
        </tr>
    </table>
    <div id="bottom">
        <div style="margin-left:auto;margin-right:auto">
            <input class="btn btn-outline-danger" type="button" @onclick="DeleteShow" value="Delete">
            <input class="btn btn-outline-warning" type="button" @onclick="resetfigure" value="Reset" />
            <input class="btn btn-outline-dark" type="button" @onclick="goBack" value="Cancel" />
            <input type="button" class="btn btn btn-outline-success" value="Save" @onclick="() => Save(OneFigure.Number)"/>
        </div>
    </div>
    <div style="display:@ShowWarningForNumber; color:red">
        Minifigure with Number: @currentNumber <br />already exists!
    </div>
    @if (showDelete)
    {
        <div class="modal fade show" style="display:block;background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog" @onclick="@DeleteCancel">
            <div class="modal-dialog" @onclick:stopPropagation="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Confirm Delete</h4>
                        <button type="button" class="close" @onclick="@DeleteCancel">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete:</p>
                        <h3>ID: @OneFigure.Number</h3>
                        <h3>Name: @OneFigure.Name</h3>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-outline-dark" @onclick="@DeleteCancel" value="Cancel" />
                        <input type="button" class="btn btn-danger" @onclick="() => deleteFigure(OneFigure.ID)" value="Delete" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public int number { get; set; }
    [Parameter]
    public string serieToShow { get; set; }
    [Parameter]
    public MiniFigure OneFigure { get; set; }
    [Parameter]
    public Series serie { get; set; }

    public bool showDelete { get; set; } = false;

    OneCard oc = new OneCard();
    List<MiniFigure> ListOfMF = new List<MiniFigure>();

    protected bool Existing { get; set; }

    protected int? currentNumber { get; set; }
    public void DeleteShow() => showDelete = true;
    public void DeleteCancel() => showDelete = false;

    protected string isFalse { get; set; }
    protected string isTrue { get; set; }
    protected string ShowWarningForNumber { get; set; } = "none";

    protected override void OnParametersSet()
    {
        trueOrFalse();
    }
    ////calculations
    private void IncrementOpen()
    {
        OneFigure.CountOpened++;
    }
    private void DecrementOpen()
    {
        if (OneFigure.CountOpened != 0)
        {
            OneFigure.CountOpened--;
        }
    }
    private void IncrementSealed()
    {
        OneFigure.CountSealed++;
    }
    private void DecrementSealed()
    {
        if (OneFigure.CountSealed != 0)
        {
            OneFigure.CountSealed--;
        }
    }
    void deleteFigure(string id)
    {
        MiniFigureService.DeleteFigure(id);
        NavigationManager.NavigateTo($"/{serieToShow}");
    }
    private void resetfigure()
    {
        OneFigure.Displayed = false;
        OneFigure.CountOpened = 0;
        OneFigure.CountSealed = 0;
        trueOrFalse();
    }
    private async Task Save(int number)
    {
        await MiniFigureService.EditFigure(OneFigure.ID, OneFigure, serie.Name);
        goBack();
    }
    void goBack()
    {
        NavigationManager.NavigateTo($"/{serie.Name}/{OneFigure.Number}",true);
    }
    // check if number is existing in db
    void isExist(int number) //combine with checkNumber????
    {
        foreach (var fig in ListOfMF)
        {
            if (number == fig.Number)
            {
                Existing = true;
                break;
            }
            else
            {
                Existing = false;
            }
        }
    }
    void checkNumber(ChangeEventArgs args)
    {
        if (args != null)
        {
            currentNumber = Convert.ToInt32(args.Value);
            isExist(Convert.ToInt32(args.Value));

            if (Existing)
            {
                ShowWarningForNumber = "inline";
                Existing = false;
            }
            else
            {
                ShowWarningForNumber = "none";
                OneFigure.Number = Convert.ToInt32(args.Value);
                currentNumber = null;
            }
        }
    }
    void trueOrFalse()
    {
        if (OneFigure.Displayed)
        {
            isTrue = "color:green";
            isFalse = "color: grey";

        }
        else
        {
            isTrue = "color: grey";
            isFalse = "color:red";
        }

    }
    void changeTrueFalse()
    {
        if (OneFigure.Displayed)
        {
            isTrue = "color: grey";
            isFalse = "color:red";
            OneFigure.Displayed = false;
        }
        else
        {
            isTrue = "color:green";
            isFalse = "color: grey";
            OneFigure.Displayed = true;
        }
    }
}