@page "/{SerieToShow}/edit"

@using MiniFigures.Data
@using MiniFigures.Models
@using MiniFigures.Shared

@inject ISeriesService SeriesService
@inject IMiniFigureService MiniFigureService
@inject NavigationManager NavigationManager

<style>
    .CardEdit {
        text-align: center;
        width: 21rem;
        height: 35em;
        border: solid 0.6rem;
        border-radius: 1rem;
        margin: 0.5rem;
        padding: 0.5rem 0.6rem 0.5rem 0.6rem;
        background-color: white;
    }

    .Center {
        margin-left: auto;
        margin-right: auto;
    }

    .labelEditSerie {
        text-align: right;
        width: 50%;
    }

    .btnRow {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .row {
        margin-top: 1rem;
    }

    label {
        margin-top:1rem;
        margin-bottom: 0px;
    }
    .cardContent{
        text-align:start;
        margin-left:3rem;
        margin-top:3rem;
    }
</style>
<h3>Edit Serie</h3>
<div>
    <div>
        <div class="CardEdit Center" style="border-color:@Serie.SeriesColor">
            <div class="cardContent">
                <EditForm Model="@Serie">
                    <label>
                        Color code:
                    </label>
                    <br />

                    <input form="SeriesColor" placeholder="@Serie.SeriesColor" @onchange="@ColorChange" />
                    <br />
                    <label>
                        Release date:
                    </label>
                    <br />

                    <input form="ReleaseDate" @bind="@Serie.ReleaseDate" />
                    <br />

                    <label>
                        Number:
                    </label>
                    <br />

                    <input form="Number" @bind="@Serie.Number" />
                    <br />
                    <label>
                        Name:
                    </label>
                    <br />

                    <input form="Name" @bind="@Serie.DisplayName" />
                    <br />
                    <label>
                        Number of figures:
                    </label>
                    <br />
                    <input form="NumberOfFigures" @bind="@Serie.NumberOfFigures" />
                </EditForm>
            </div>



        <div class="btnRow">
            <div class="dropdown">
                <input type="button" class="btn btn-light" value="More" />
                <div class="dropdown-content">
                    <div class="btn-group-vertical">
                        <input class="btn btn-outline-dark" style="border:solid 0.5px grey" type="button" @onclick='() => NavigationManager.NavigateTo($"/addnew/figures/{Serie.Name}")' value="Edit all Figures" />
                        <input class="btn btn-outline-warning" style="border:solid 0.5px grey" type="button" @onclick="ResetShow" value="Reset all Figures" />
                        <input class="btn btn-outline-danger" style="border:solid 0.5px grey" type="button" @onclick="DeleteShow" value="Delete Serie" />
                    </div>
                </div>
            </div>
            <input class="btn btn-outline-dark" type="button" @onclick="cancel" value="Cancel" />
            <input class="btn btn-outline-success" type="button" @onclick="() => saveSerie(Serie)" value="Save" />
        </div>
        </div>
    </div>

    @if (ShowReset)
    {
        <div class="modal fade show" style="display:block;background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog" @onclick="@ResetCancel">
            <div class="modal-dialog" @onclick:stopPropagation="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Confirm Delete</h4>
                        <button type="button" class="close" @onclick="@ResetCancel">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to reset all figures in:</p>
                        <h3>@Serie.DisplayName</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" @onclick="@ResetCancel">Cancel</button>
                        <button type="button" class="btn btn-danger" @onclick="@ResetAllFigures">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (ShowDelete)
    {
        <div class="modal fade show" style="display:block;background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog" @onclick="@DeleteCancel">
            <div class="modal-dialog" @onclick:stopPropagation="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Confirm Delete</h4>
                        <button type="button" class="close" @onclick="@DeleteCancel">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete:</p>
                        <h3>@Serie.DisplayName</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" @onclick="@DeleteCancel">Cancel</button>
                        <button type="button" class="btn btn-danger" @onclick="@deleteSerie">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public string SerieToShow { get; set; }

    private bool ShowDelete = false;
    private bool ShowReset = false;
    private string imgURL { get; set; }

    private List<MiniFigure> ListOfMiniFigures = new List<MiniFigure>();

    private Series Serie = new Series();

    protected override async Task OnInitializedAsync()
    {
        Serie = await SeriesService.GetOneSerie(SerieToShow);
        ListOfMiniFigures = MiniFigureService.GetMiniFigures(SerieToShow);
        imgURL = Serie.BagImage;
    }

    protected void setImg(string Message)
    {
        Serie.BagImage = Message;
        imgURL = Message;
    }

    private void saveSerie(Series Serie)
    {
        SeriesService.EditSerie(Serie.Id, Serie);
        SeriesService.RenameCollection(SerieToShow, Serie.Name);
        NavigationManager.NavigateTo("/", true);
    }

    private void deleteSerie()
    {
        NavigationManager.NavigateTo($"/delete/{SerieToShow}");
    }

    //change color on frame when adding color
    private void ColorChange(ChangeEventArgs args)
    {
        var Color = (string)args.Value;
        Serie.SeriesColor = Color;
    }

    private void cancel() => NavigationManager.NavigateTo($"/{SerieToShow}", true);

    private void DeleteShow() => ShowDelete = true;
    private void ResetShow() => ShowReset = true;

    private void DeleteCancel() => ShowDelete = false;
    private void ResetCancel() => ShowDelete = false;

    private void ResetAllFigures()
    {
        foreach (var item in ListOfMiniFigures)
        {
            item.Displayed = false;
            item.CountSealed = 0;
            item.CountOpened = 0;
            MiniFigureService.EditFigure(item.ID, item, SerieToShow);
        }
        NavigationManager.NavigateTo($"/{SerieToShow}", true);
    }
}