@page "/{serieToShow}/edit"
@using MiniFigures.Data
@using MiniFigures.Models
@inject ISeriesService SeriesService
@inject IMiniFigureService MiniFigureService
@inject NavigationManager NavigationManager


<link rel="stylesheet" href="css/EditSerie.css" />
<Header serie="series" amountOfFigures="ListOfMF.Count"/>
<h3>Edit Serie</h3>
<div>
    <div class="center">
        <div class="card" style="border-color:@series.SeriesColor">
            <div class="row">
                <div class="label">
                    <label for="Number">Number: </label>
                </div>
                <div>
                    <input form="Number" @bind="@series.Number" />
                </div>
            </div>
            <div class="row">
                <div class="label">
                    <label for="Name">Name: </label>
                </div>
                <div>
                    <input form="Name" @bind="@series.DisplayName" />
                </div>
            </div>
            <div class="row">
                <div class="label">
                    <label for="NumberOfFiguers">Number of figures: </label>
                </div>
                <div>
                    <input form="NumberOfFigures" @bind="@series.NumberOfFigures" />
                </div>
            </div>
            <div class="row">
                <div class="label">
                    <label for="SeriePicture">Path to picture: </label>
                </div>
                <div>
                    <input form="SeriePicture" @bind="@series.SeriePicture" />
                </div>
            </div>
            <div class="row">
                <div class="label">
                    <label for="SeriesColor">Color code: </label>
                </div>
                <div>
                    <input form="SeriesColor" placeholder="@series.SeriesColor" @onchange="@ColorChange" />
                </div>
            </div>
            <div class="btnRow">
                <input type="button" @onclick="deletePromptShow" value="Delete" />
                <input type="button" @onclick="cancel" value="Cancel" />
                <input type="button" @onclick="() => saveSerie(series)" value="Save" />
            </div>

        </div>
        <div style="display:@deletePrompt; color:red">
            <p>Sure you want to DELETE this serie?</p>
            <input type="button" @onclick="() => deleteSerie(series.Name)" value="YES" />
            <input type="button" @onclick="deletePromptShow" value="NO" />
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string serieToShow { get; set; }

    protected List<MiniFigure> ListOfMF = new List<MiniFigure>();

    protected Series series = new Series();

    protected string deletePrompt { get; set; } = "none";

    protected override async Task OnInitializedAsync()
    {
        series = await SeriesService.GetOneSerie(serieToShow);
        ListOfMF = MiniFigureService.GetMiniFigures(serieToShow);

    }
    void saveSerie(Series serie)
    {
        SeriesService.EditSerie(series.Id, series);
        SeriesService.RenameCollection(serieToShow, series.Name);
        NavigationManager.NavigateTo("/", true);
    }
    void deleteSerie(string name)
    {
        SeriesService.DeleteCollection(name);
        SeriesService.DeleteSerie(name);
        NavigationManager.NavigateTo("/", true);
    }
    //change color on frame when adding color
    void ColorChange(ChangeEventArgs args)
    {
        var Color = (string)args.Value;
        series.SeriesColor = Color;
    }
    void cancel()
    {
        NavigationManager.NavigateTo($"/{serieToShow}");
    }
    // Show warning on delete
    void deletePromptShow()
    {
        if (deletePrompt == "none")
        {
            deletePrompt = "inline";
        }
        else
        {
            deletePrompt = "none";
        }
    }
}
