@page "/{serieToShow}/{number:int}"
@using MiniFigures.Data
@using MiniFigures.Models
@inject NavigationManager NavigationManager
@inject IMiniFigureService Mini

<div class="card-deck" style="margin-right:auto; margin-left:auto">
    <div class="card-body" style="min-width:419px; max-width:420px">
        <img src="@MF.ImgURL" style="max-width:400px;height:400px" alt="Picture of @MF.Name" />
        <div><h4 class="card-title">@MF.Name</h4><a href="" class="oi oi-pencil"></a></div>
        <span>In display: @MF.Displayed</span><br />
        <span>Ownd opened: @MF.CountOpened</span><a href="" class="oi oi-plus" style="border:solid; border-width:1px"></a><a href="" class="oi oi-minus"></a><br />
        <span>Ownd sealed: @MF.CountSealed</span><a href="" class="oi oi-plus" style="border:solid; border-width:1px"></a><a href="" class="oi oi-minus"></a><br />
    </div>
</div>

@code {
    [Parameter]
    public int number { get; set; }
    [Parameter]
    public string serieToShow { get; set; }

    protected MiniFigure MF = new MiniFigure();
    protected override async Task OnInitializedAsync()
    {
        MF = await Mini.GetOneMiniFigure(serieToShow, number);
    }
}
