@page "/{serieToShow}"
@using MiniFigures.Models
@using MiniFigures.Data
@inject IMiniFigureService Mini
@inject ISeriesService SeriesService
@inject NavigationManager NavigationManager

<div style="text-align:center"><h3>@serieToShow</h3></div>

@if (MF == null)
{
    <h4>Loading.......</h4>
}
else if (MF.Count == 0)
{
    <div style="text-align:center"><h4>No Figures in collection</h4></div>
}
else
{
    <div style="display:inline">
        <div>Number: @series.Number</div>
        <div>Number of figures: @series.NumberOfFigures</div>
        <div>Series color: @series.SeriesColor</div>
    </div>
    <h4>You own @owned of @MF.Count</h4>
    <div class="card-deck" style="margin-right:auto; margin-left:auto;">
        @foreach (var figure in MF)
        {
            <div class="card-body" style="background-color:@Color; max-width: 265px; height:390px ;padding:15px; margin:5px auto 5px auto; border-radius:15px">
                <div class="card-body" style="background-color:white; text-align: center;width: 235px; height: 360px; border-radius: 10px">
                    <img src="@figure.ImgURL" style="max-width:210px;height:200px" alt="Picture of @figure.Name" @onclick="(() => IncrementMF(figure.Number))" />
                    <h4 class="card-title">@figure.Name</h4>
                    <table style="margin-bottom:10px; line-height:1">
                        <tr>
                            <td style="text-align:right; width:60%">In display:</td>
                            <td style="width:40%"><i class=@changeIcon(figure.Displayed) style=@iconColor></i></td>
                        </tr>
                        <tr>
                            <td style="text-align:right">Ownd openend:</td>
                            <td>@figure.CountOpened</td>
                        </tr>
                        <tr>
                            <td style="text-align:right">Ownd sealed:</td>
                            <td>@figure.CountSealed</td>
                        </tr>
                    </table>
                    <div style="text-align:right;color:@Color"><a class="fas fa-info-circle fa-2x" @onclick="(() => ShowOne(figure.Number))"></a></div>
                </div>
            </div>
        }
    </div>
}
@code {
    [Parameter]
    public string serieToShow { get; set; }
    List<MiniFigure> MF;
    public int number { get; set; }
    protected MiniFigure SingleMF = new MiniFigure();
    public Series series { get; set; }
    public string Color { get; set; }
    public string Icon { get; set; }
    public string iconColor { get; set; }
    public int owned { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await SendCollectionName(serieToShow);
        series = await SeriesService.GetOneSerie(serieToShow);
        Color = series.SeriesColor;
        Owned();
    }
    public async Task SendCollectionName(string collectionName)
    {
        MF = Mini.GetMiniFigures(collectionName);
    }
    private void ShowOne(int number)
    {
        var figure = number.ToString();
        NavigationManager.NavigateTo($"/{serieToShow}/{figure}");
    }
    private async Task IncrementMF(int number)
    {
        SingleMF = await Mini.GetOneMiniFigure(serieToShow, number);
        if (SingleMF.CountSealed == 0 && SingleMF.CountOpened == 0 || SingleMF.Displayed == true)
        {
            SingleMF.CountSealed++;
            owned++;
        }
        else if (SingleMF.CountSealed == 1 && SingleMF.CountOpened == 0)
        {
            SingleMF.CountSealed = 0;
            SingleMF.CountOpened++;
        }
        else if (SingleMF.CountOpened == 1)
        {
            SingleMF.Displayed = true;
        }

        await Mini.EditFigure(SingleMF.Number, SingleMF, serieToShow);
        await SendCollectionName(serieToShow);
    }
    private void Owned()
    {
        owned = 0;
        foreach (var figure in MF)
        {
            if (figure.CountSealed > 0 || figure.CountOpened > 0)
            {
                owned++;
            }
        }
    }
    private string changeIcon(bool test)
    {
        if (test)
        {
            Icon = "fas fa-check";
            iconColor = "color:green";
        }
        else
        {
            Icon = "fas fa-times";
            iconColor = "color:red";
        }
        return Icon;
    }
}
