@page "/{serieToShow}"
@using MiniFigures.Models
@using MiniFigures.Data
@inject IMiniFigureService Mini
@inject NavigationManager NavigationManager

<h3>@serieToShow</h3>
@if (MF == null)
{
    <h4>Loading.......</h4>
}
else
{
    <div class="card-deck" style="margin-right:auto; margin-left:auto;">

        @foreach (var figure in MF)
        {
            <div class="card-body" style="min-width: 219px; max-width: 220px; border: solid 1px; margin:5px">
                <img src="@figure.ImgURL" style="max-width:200px;height:200px" alt="Picture of @figure.Name" @onclick="(() => IncrementMF(figure.Number))" />
                <h4 class="card-title">@figure.Name</h4>
                <p style="margin:0px">In display: @figure.Displayed</p>
                <p style="margin:0px">Ownd opened: @figure.CountOpened</p>
                <p style="margin:0px">Ownd sealed: @figure.CountSealed</p>
                <div style="text-align:right"><a class="oi oi-info" @onclick="(() => ShowOne(figure.Number))"></a></div>
            </div>
        }
    </div>


}
@code {
    [Parameter]
    public string serieToShow { get; set; }
    List<MiniFigure> MF;
    public int number { get; set; }
    protected MiniFigure SingleMF = new MiniFigure();

    protected override void OnParametersSet()
    {
        SendCollectionName(serieToShow);

    }

    public void SendCollectionName(string collectionName)
    {
        MF = Mini.GetMiniFigures(collectionName);
    }
    private void ShowOne(int number)
    {
        var figure = number.ToString();
        NavigationManager.NavigateTo($"/{serieToShow}/{figure}");
    }
    private async Task IncrementMF(int number)
    {
        SingleMF = await Mini.GetOneMiniFigure(serieToShow, number);
        if (SingleMF.CountSealed == 0 && SingleMF.CountOpened == 0 || SingleMF.Displayed == true)
        {
            SingleMF.CountSealed++;
        }
        else if (SingleMF.CountSealed == 1 && SingleMF.CountOpened == 0)
        {
            SingleMF.CountSealed = 0;
            SingleMF.CountOpened++;
        }
        else if (SingleMF.CountOpened == 1)
        {
            SingleMF.Displayed = true;
        }
        await Mini.EditFigure(SingleMF.Number, SingleMF, serieToShow);
        SendCollectionName(serieToShow);
    }
}
