@page "/{serieToShow}"
@using MiniFigures.Models
@using MiniFigures.Data
@inject IMiniFigureService MiniFigureService
@inject ISeriesService SeriesService
@inject NavigationManager NavigationManager

@if (ListOfMF == null)
{
    <h2>Loading.......</h2>
}
else if (ListOfMF.Count == 0)
{
    <Header serie="series" amountOfFigures="ListOfMF.Count" />
    <div class="headerCenter">
        <h4 class="marginBig">No Figures in collection</h4>
        <input type="button" value="Add Figure" @onclick="ToAdd" /> <input type="button" value="Edit serie" @onclick="ToEdit" />
    </div>
}
else
{
    <Header serie="series" amountOfFigures="ListOfMF.Count" />
    <h4>
        You own @owned of @series.NumberOfFigures
        @if (owned == series.NumberOfFigures)
        {
            <i class="fas fa-star" style="color:@series.SeriesColor" />
        }
    </h4>
    <div class="card-deck">
        @foreach (var figure in ListOfMF)
        {
            <div class="Card" style="border-color:@series.SeriesColor">
                <div style="height:22rem" @onclick="(() => ShowCard(figure.Number))">
                    <div class="txtLeftBold" style="color:@series.SeriesColor">@figure.Number</div>
                    <img src="/images/@serieToShow/@figure.Image" alt="Picture of @figure.Name" />
                    <table>
                        <tr>
                            <td colspan="2">
                                <h5>@figure.Name</h5>
                            </td>
                        </tr>
                        <tr>
                            <td class="labelSmall">In display:</td>
                            <td>
                                @if (!figure.Displayed)
                                {
                                    <i class="fas fa-times" style="color:red" />
                                }
                                else
                                {
                                    <i class="fas fa-check" style="color:green" />
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="labelSmall">Ownd openend:</td>
                            <td>@figure.CountOpened</td>
                        </tr>
                        <tr>
                            <td class="labelSmall">Ownd sealed:</td>
                            <td>@figure.CountSealed</td>
                        </tr>
                    </table>
                </div>
                <a class="fas fa-plus-circle fa-2x infoBtn" style="color:@series.SeriesColor" @onclick="(() => IncrementListOfMF(figure.Number))" />
            </div>
        }
        @if (showCard)
        {
            <div class="modal fade show" style="display:block;background-color: rgba(255,255,255,.8);" aria-modal="true" role="dialog">
                <i class="fas fa-times fa-2x closeBtn" @onclick="HideCard" />
                <div class="modal-dialog" @onclick:stopPropagation="true" style="width:37rem">
                    <div class="modal-content" style="background-color:transparent; border:none">
                        <CardFrameFlip serieToShow="@serieToShow" number="@no" />
                    </div>
                </div>
            </div>
        }
    </div>
}
@code {
    [Parameter]
    public string serieToShow { get; set; }

    List<MiniFigure> ListOfMF;

    protected MiniFigure OneMF = new MiniFigure();

    protected Series series { get; set; }
    bool showCard = false;
    protected int owned { get; set; }
    protected int no { get; set; }

    protected override async Task OnInitializedAsync()
    {
        series = await SeriesService.GetOneSerie(serieToShow);
    }
    protected override async Task OnParametersSetAsync()
    {
        SendCollectionName(serieToShow);
        series = await SeriesService.GetOneSerie(serieToShow);
        Owned();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        SendCollectionName(serieToShow);
        Owned();

        StateHasChanged();
    }
    private void SendCollectionName(string collectionName)
    {
        ListOfMF = MiniFigureService.GetMiniFigures(collectionName);
    }
    private void ShowCard(int number)
    {
        no = number;
        showCard = true;
    }
    public void HideCard()
    {
        showCard = false;
        //NavigationManager.NavigateTo($"{serieToShow}",true );
    }
    private async Task IncrementListOfMF(int number)
    {
        OneMF = await MiniFigureService.GetOneMiniFigure(serieToShow, number);
        if (OneMF.CountSealed == 0 && OneMF.CountOpened == 0 || OneMF.Displayed == true)
        {
            if (OneMF.CountSealed == 1 && OneMF.CountOpened != 1)
            {
                owned++;

            }
            OneMF.CountSealed++;
        }
        else if (OneMF.CountSealed == 1 && OneMF.CountOpened == 0)
        {
            OneMF.CountSealed = 0;
            OneMF.CountOpened++;

        }
        else if (OneMF.CountOpened == 1)
        {
            OneMF.Displayed = true;
        }
        await MiniFigureService.EditFigure(OneMF.ID, OneMF, serieToShow);
        SendCollectionName(serieToShow);
    }
    private void Owned()
    {
        owned = 0;
        foreach (var figure in ListOfMF)
        {
            if (figure.CountSealed > 0 || figure.CountOpened > 0)
            {
                owned++;
            }
        }
    }
    private void ToEdit()
    {
        NavigationManager.NavigateTo($"/{serieToShow}/edit");
    }
    private void ToAdd()
    {
        NavigationManager.NavigateTo($"/addnew/figures/{serieToShow}");
    }
}