@using MiniFigures.Data
@using MiniFigures.Models
@using System.IO

@inject IMiniFigureService MiniFigureService
@inject ISeriesService SeriesService
@inject NavigationManager NavigationManager

<style>
    .bigCard {
        width: 35rem;
        height: 55rem;
        border: solid 1rem;
        border-radius: 1rem;
        margin: 1rem auto;
        padding: 0.5rem;
        background-color: white;
    }
/*    .txtLeft {
        text-align: left;
    }*/
    .imgOnBigCard {
        display: block;
        max-width: 100%;
        height: 34rem;
        margin-left: auto;
        margin-right: auto;
    }
    .tblOnShowOneCard {
        font-size: 1.25rem;
        height: 3rem;
    }
    .labelOnShowOneCard {
        text-align: right;
        width: 50%;
        height: 3rem;
    }
    .nameLabel {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .dataLabel {
        padding-right: 5rem;
    }
</style>

@if (Serie == null)
{
    <Loading />
}
else
{
<div class="bigCard" style="border-color:@Serie.SeriesColor">
    <div style="text-align:left; color:@Serie.SeriesColor">@Serie.DisplayName</div>

    @if (!File.Exists($"wwwroot\\images\\Series\\{@Serie.Name}/{@OneMiniFigure.Image}"))
    {
        <img src="/images/placeholder.jpg" alt="Picture of placeholder picture" style="margin-top:2rem" />
    }
    else
    {
        <img class="imgOnBigCard" src="/images/Series/@Serie.Name/@OneMiniFigure.Image" alt="Picture of @OneMiniFigure.Name" />
    }
        <p class="nameLabel">@OneMiniFigure.Name</p>
        <table class="tblOnShowOneCard">
            <tr>
                <td class="labelOnShowOneCard">Number:</td>
                <td class="dataLabel">@OneMiniFigure.Number</td>
            </tr>
            <tr>
                <td class="labelOnShowOneCard">In display:</td>
                <td class="dataLabel">
                    @if (!OneMiniFigure.Displayed)
                    {
                        <i class="fas fa-times fa-2x" style="color:red" />
                    }
                    else
                    {
                        <i class="fas fa-check fa-2x" style="color:green" />
                    }
                </td>
            </tr>
            <tr>
                <td class="labelOnShowOneCard">Ownd openend:</td>
                <td class="dataLabel">@OneMiniFigure.CountOpened</td>
            </tr>
            <tr>
                <td class="labelOnShowOneCard">Ownd sealed:</td>
                <td class="dataLabel">@OneMiniFigure.CountSealed</td>
            </tr>
            @*<tr class="TableOne">
                <td class="label">Image:</td>
                <td>@OneMiniFigure.Image</td>
            </tr>*@
        </table>
    </div>
}
@code {
    [Parameter] public Series Serie { get; set; }
    [Parameter] public MiniFigure OneMiniFigure { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        StateHasChanged();
    }
}