@using MiniFigures.Models
@using MiniFigures.Data
@using MiniFigures.Pages
@inject IMiniFigureService Mini
@inject ISeriesService SeriesService

@inject NavigationManager NavigationManager

<style>
    .btn.btn-outline-info{
        color:@serie.SeriesColor;
        border-color:@serie.SeriesColor;
        box-shadow:none !important;
        outline:none !important;
    }
        .btn.btn-outline-info:active:hover,
        .btn.btn-outline-info:hover {
            background-color: @serie.SeriesColor;
            color: white;
            border-color: @serie.SeriesColor;
            box-shadow: none !important;
            outline: none !important;
        }
</style>
<div class="headerCenter" style="background-color:@serie.SeriesColor">
    <h2>
        @serie.DisplayName
        <a @onclick="() => ToggleInfo()" class="@InfoIcon SerieInfobutton"></a>
    </h2>
</div>
<div class="infoBlock" style="display:@HideShowInfo;border-color:@serie.SeriesColor">
    <table class="biggerText tbl100">
        <tr style="height:45px">
            <td class="infoRow">Number:</td>
            <td class="infoRow txtCenter">@serie.Number</td>
            <td class="infoRow">Release date:</td>
            <td class="infoRow txtCenter">@serie.ReleaseDate</td>
            <td class="txtRight"><input class="btn btn-outline-info" type="button" @onclick="ToEdit" value="Edit" /></td>
        </tr>
        <tr style="height:45px">
            <td class="infoRow">Series color:</td>
            <td class="infoRow txtCenter">@serie.SeriesColor</td>
            <td class="infoRow">Number of figures:</td>
            <td class="infoRow txtCenter">@serie.NumberOfFigures</td>
            <td class="txtRight">
                @if (ListOfFigures.Count != serie.NumberOfFigures)
                {
                    <p>@ListOfFigures.Count of @serie.NumberOfFigures are added to the serie <input class="btn btn-outline-info" type="button" @onclick="ToAdd" value="Add figure" /></p>
                }
                else
                {
                    <div class="dropdown">
                        <input type="button" class="btn btn-light" value="More" />
                        <div class="dropdown-content dropRight">
                            <div class="btn-group-vertical">
                                <input class="btn btn-outline-secondary" type="button" value="Add all sealed" @onclick="() => addFigures(1)" />
                                <input class="btn btn-outline-secondary" type="button" value="Add all opened" @onclick="() => addFigures(2)">
                                <input class="btn btn-outline-secondary" type="button" value="Add all displayed" @onclick="() => addFigures(3)">
                            </div>
                        </div>
                    </div>
                }
            </td>
        </tr>
    </table>
</div>
<NavBarSerie SerieToShow="@serie.Name" SerieColor="@serie.SeriesColor" />
@if (ShowEdit)
{
    <div class="modal fade show" style="display:block;background-color: rgba(255,255,255,.8);" aria-modal="true" role="dialog" @onclick="close">
        <i class="fas fa-times fa-2x closeBtn" @onclick="close" />
        <div class="modal-dialog" @onclick:stopPropagation="true" style="width:37rem">
            <div class="modal-content" style="background-color:transparent; border:none">
                <EditSerie SerieToShow="@serie.Name" />
            </div>
        </div>
    </div>
}
@if (ShowAdd)
{
    <div class="modal fade show" style="display:block;background-color: rgba(255,255,255,.8);" aria-modal="true" role="dialog">
        <i class="fas fa-times fa-2x closeBtn" @onclick="close" />
        <div class="modal-dialog" @onclick:stopPropagation="true" style="width:37rem">
            <div class="modal-content" style="background-color:transparent; border:none">
                <AddNewFigures serie="@serie.Name" />
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public List<MiniFigure> ListOfFigures { get; set; }
    [Parameter]
    public Series serie { get; set; }

    public string HideShowInfo { get; set; } = "none";
    public string InfoIcon { get; set; } = "fas fa-chevron-down";

    public static bool ShowAdd { get; set; }
    bool ShowEdit { get; set; }

    void ToEdit()
    {
        ShowEdit = true;
    }
    void ToAdd()
    {
        ShowAdd = true;
    }
    void close()
    {
        ShowAdd = false;
        ShowEdit = false;
    }
    public void ToggleInfo()
    {
        if (HideShowInfo == "none")
        {
            HideShowInfo = "block";
            InfoIcon = "fas fa-chevron-up";
        }
        else
        {
            HideShowInfo = "none";
            InfoIcon = "fas fa-chevron-down";
        }
    }
    protected void addFigures(int i)
    {
        switch (i)
        {
            case 1:
                foreach (var figure in ListOfFigures)
                {
                    figure.CountSealed++;
                    Mini.EditFigure(figure.ID, figure, serie.Name);
                }
                break;
            case 2:
                foreach (var figure in ListOfFigures)
                {
                    figure.CountOpened++;
                    Mini.EditFigure(figure.ID, figure, serie.Name);
                }
                break;
            case 3:
                foreach (var figure in ListOfFigures)
                {
                    figure.Displayed = true;
                    Mini.EditFigure(figure.ID, figure, serie.Name);
                }
                break;
            default:
                break;
        }
    }
}