@using MiniFigures.Data
@using MiniFigures.Models

@inject IMiniFigureService MiniFigureService
@inject ISeriesService SeriesService
@inject NavigationManager NavigationManager

<div class="top-row pl-4 navbar navbar-dark" style="margin-bottom: 1rem;margin-top:1rem">
    <a href="" @onclick="@Home" style="font-size:2rem;color:black;text-decoration:none">MiniFigures</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li style="margin-left: 1rem;font-size: 0.8rem">
            Order By:
            <div class="dropdown">
                <button class="btn btn-light" style="width: 100px; font-size:0.8rem">@orderByString</button>
                <div class="dropdown-content">
                    <div class="btn-group-vertical">
                        <input class="btn btn-outline-secondary" type="button" value="A-Z" style="width:100px; font-size:0.8rem" @onclick='() => OrderBy("A-Z")' />
                        <input class="btn btn-outline-secondary" type="button" value="Z-A" style="  width: 100px; font-size: 0.8rem" @onclick='() => OrderBy("Z-A")'>
                        <input class="btn btn-outline-secondary" type="button" value="Release date" style="width: 100px;font-size: 0.8rem
" @onclick='() => OrderBy("Release date")'>
                    </div>
                </div>
            </div>
        </li>
        @foreach (var serie in ListOfSeries)
        {
            <li class="nav-item px-3" style="background-color:@serie.SeriesColor">
                <NavLink class="nav-link" href="@serie.Name">
                    <span class="fas fa-list mr-2" aria-hidden="true"></span>@serie.DisplayName
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/addnew/serie">
                <span class="fas fa-plus-circle mr-2" aria-hidden="true"></span>Add new serie
            </NavLink>
        </li>
    </ul>
</div>


@code {
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private bool collapseNavMenu = true;

    public static List<Series> ListOfSeries = new List<Series>();
    public static string orderByString { get; set; } = "A-Z";

    private string serieToShow;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    protected override async Task OnInitializedAsync() => await GetList();

    protected async Task<List<Series>> GetList()
    {
        return ListOfSeries = await SeriesService.GetSeries(orderByString);
    }

    public async Task OrderBy(string order)
    {
        switch (order)
        {
            case "A-Z":
                orderByString = "A-Z";
                break;
            case "Z-A":
                orderByString = "Z-A";
                break;
            case "Release date":
                orderByString = "Release date";
                break;
            default:
                break;
        }
        await GetList();
    }

    private void Home() => NavigationManager.NavigateTo("/", true);
}
